.header-logo{
    /* background-color: black; */
    width: 100%;
    height: 3em;
    margin: 0;
    position: fixed;
    top: 0;
    z-index: 999;
    display: flex;
}

.abajo{
    background-color: rgb(9,42,58);
    z-index: 999;
}


.contenedor-logo{

   display: flex;
   width: 18.75em;
   height: 2.5em;
   color: #e7e5df;
   font-size: 1.2em;
   line-height: 2.5em;
   margin-left: 1em;

   position:absolute;
   overflow: hidden;
   font-family: 'Inconsolata', monospace;
    /* font-family: 'Secular One', sans-serif; */
}

.contenedor-logo ul{
    list-style: none;
    padding-left: 8px;
    color: #44bba4;
    animation: cambiar 5.5s infinite;
}

.contenedor-logo ul,p{
    margin:0;
}

@keyframes cambiar{
    0% {margin-top: 0;}
    30% {margin-top: 0;}

    40%{margin-top: -2.5em;}
    80%{margin-top: -2.5em;}

    90%{margin-top: 0;}
    100%{margin-top: 0;}
}


.contactos img{
    max-width: 1.3em;
    width: 100%;
    color: #fff;
    filter: invert(1);
}
.contactos a:nth-child(1) ~ a{
    margin-left: 0.5em;
}

.contactos img:hover{
   transform: rotate(20deg);
}

.contactos{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    margin: 0.6em;

}


.footer-css-header{
        width: 100%;
        margin: 0;
        padding: 0.3em;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-family: 'Kanit', sans-serif;
        font-weight: 100;
        position: fixed;
        bottom: 0;
        

    }

footer .abajo{
    z-index: 998;
}