:root {
  --primary-color:rgb(23, 4, 91);
  --colorTitulo: #588fba;
  --colorParrafos: rgb(0, 0, 0);
  --skills-bar-lenght:0%;
  --color-barra-ok: #049413;
  --color-barra-little: #940404;
  --color-barra-medium: #d8a610;
  --border-radius:.4em;
  --bg-card-color: #d3d0cb;
  --bg-body:#393e41;
  --color-general:#44bba4;
  --slider-transform:0;
  --transition: transform 1s ;
}

a{
  color: var(--primary-color) ;
  text-decoration: none;
}

img{
  max-width: 100%;
  display: block;
}


.main{
  display: grid;
}

body {
  background:var(--bg-body);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  padding-top: 3em;
  

}

/***** menu hamburguesa *****/


.box {
  position: absolute;
  right: 0;
}

input {
  width: 50px;
  height: 50px;
  background-color: #ffffff00;
  appearance: none;
  position: relative;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 0 30px #00000026;
  display: flex;
  justify-content: center;
  align-items: center;
}

input::before {
  content: '\f550';
  position: absolute;
  font-family: 'Font Awesome 5 Free';
  font-weight: 700;
  color: var(--color-general);
  font-size: 2em;
}

.nav {
  position: absolute;
  top: 38px;
  right: 38px;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 10px;
  box-shadow: 0 0 30px #00000026;
  backdrop-filter: blur(30px);
  transform: scale(0);
  transform-origin: top right;
  transition: transform 0.4s;
}

.nav a {
  margin: 15px;
  color: rgba(255, 255, 255, 0.804);
}

.nav a:hover {
  color: #1c1c1c;
  animation: anim 0.5s;
}

.nav img {
  width: 1em;
  filter: invert(1);
}

@keyframes anim {
  0% {
    transform: rotate(20deg);
  }

  50% {
    transform: rotate(-20deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

input:checked~.nav {
  transform: scale(1);
}

input:checked:before {
  content: '\f00d';
}

/***** End menu hamburguesa *****/
.main2{
  position: relative;
}

.principal {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3em;
  padding-left: 1em;
  position: relative;
}

/***** about *****/



.about p {
  font-family: 'Inconsolata', monospace;
  font-weight: 600;
  color: var(--colorParrafos);
  font-size: 1.3em;
  

}

.imagen-about img{
  border: 0 solid black;
  border-radius: 1em;
  background: linear-gradient(4deg, rgba(255,255,255,1) 0%, rgba(122,142,143,1) 45%, rgba(62,111,119,1) 82%, rgba(0,0,0,1) 100%);
  width: 100%;
  position: relative;
  z-index: 100;
}

.titulo {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 4em;
  letter-spacing: -7px;
  opacity: 10%;
  z-index: 2000;
  color: var(--color-general);
  position: relative;
  top: 2.5em;
  left: 18%;
  text-align: center;
  cursor: pointer;
}



.animate__animated.animate__fadeInRight {
  animation-duration: 2s;
}

.principal:not(.principal.activo) {
  display: none;
}

.parrafo-about.activo{
  transition: max-width .4s, opacity .4s, max-height .1s;
  opacity: 1;
  max-height: 100%;
  position: absolute;
  /* overflow: hidden; */
  width: 20em;
}

.parrafo-about:not(.parrafo-about.activo){
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  position: absolute;
 

}


/***** hABILIDADES *****/

.skills{
  padding: 1em 0;
  font-family: 'Inconsolata', monospace;
  font-weight: 600;
}

.card__title{
  font-family: 'Inconsolata', monospace;
  font-weight: 600;
}

.experiencia{
  font-family: 'Inconsolata', monospace;
  font-weight: 600;
}

.skills__header{
  display: flex;
  justify-content: space-between;
  width: 175px;
  margin-left: auto ;
  position: relative;
  top: 20px;
  font-family: 'Inconsolata', monospace;
  font-weight: 600;
}

.skills__tech{
  margin-right: 0.5em;
  font-size: 0.8em;

}

.skills__item{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5em;
  padding: 0.2em;
}

.skills__bar,.skills__bar::after{
  position: relative;
  width: 175px;
  height: 8px;
  background-color: #888;
  border-radius: 2px;
  overflow: hidden;
}

.skills__bar::after{
  content: "";
  position: absolute;
  left: -175px;
  transition: .3s;
  background-color: var(--color-barra-ok);
  animation: skills-bar-fill 3s ease-in-out forwards;
  margin-left: 0.5em;
}

.skills__bar--70::after{
  --skills-bar-lenght:70%;
}

.skills__bar--60::after{
  --skills-bar-lenght:60%;
}

.skills__bar--40::after{
  --skills-bar-lenght:20%;
}

.skills__bar--50::after{
  --skills-bar-lenght:20%;

}




@keyframes skills-bar-fill {

  to{
    transform: translateX(var(--skills-bar-lenght));
  }
  
}

/***** End hABILIDADES *****/


/***** End about *****/

/***** media *****/
@media(max-width:1024px) {

  .main{
    grid-template-columns:auto;
  }

  .about p {
    font-size: 0.85em;
    color: var(--bg-card-color);
  }

  .imagen-about {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-card-color);
    margin: 0.5em 1em 0 1em;
    padding: 1em;
    flex-direction: column;
    border-radius: var(--border-radius);
    
  } 


  .imagen-about img {
    width: 10em;


  }

  .parrafo-about.activo{
    width: 92%;
  }

  .principal{
    display: block;
    padding: 0.9em;
  }


  .titulo{
    top:0;
    left: 0;
  }
  /* .datos{
    display: none;
  } */

  .datos{
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    font-family: 'Inconsolata', monospace;
    font-size: 1em;
    color: #393e41;
    background-color: var(--bg-card-color);
    margin: 0.5em;
  }

  .datos-propios{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em 0;
    margin: 0;
    font-size: 1.2em;
    font-weight: 700;

  }

  .card__link img{
    width: 2em;
    background: none;
   
  }

  .card__link{
    display: flex;
    align-items: center;
    justify-content:center;
    margin-bottom: 0.2em;
  }

  .descripcion{
    font-size: 0.8em;
    text-align:start;
    line-height: 1.6;
    display: none;
  }

}


/***** slider *****/

.slider{
  display: flex;
  transform: translateX(var(--slider-transform));
  transition: var(--transition);
  
}

.slider__container{
width: 380px;
margin-left: auto;
margin-right: auto;
border: 4px solid #fff;
overflow: hidden;

}



.slider__element{
  min-width: 100%;
  height: 180px;
  font-size: 3rem;
  text-align: center;
  line-height: 300px;
  cursor: pointer;
}

.slider__element--color{
  background-color: var(--bg-card-color);
}

.slider-buttons{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0.5em;

}






/***** End slider *****/


@media (min-width:1024px) {

  .about{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  .imagen-about{
    position: absolute;
    margin: 2em;
    background-color: var(--bg-card-color);
    padding: 2em;
    border-radius: var(--border-radius);
  }
  .card{
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 0.4em;
    border-radius: var;
  }

  .datos{
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    font-family: 'Inconsolata', monospace;
    font-size: 1em;
    color: #393e41;
  }

  .datos-propios{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em 0;
    margin: 0;
    font-size: 1.2em;
    font-weight: 700;

  }

  .card__link img{
    width: 2em;
    background: none;
   
  }

  .card__link{
    display: flex;
    align-items: center;
    justify-content:center;
    margin-bottom: 0.2em;
  }

  .descripcion{
    font-size: 0.8em;
    text-align:start;
    line-height: 1.6;
  }
}

/**** End media *****/